<!DOCTYPE html>
<html lang="en" ng-csp ng-app="FormatConverter">
  <head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Format Converter</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/app.css" />
  </head>

  <body  ng-controller="bodyController">
  <div class="row">
      <div class="col-xs-6">
          <ul class="nav nav-tabs">
              <li class="active"><a href="#" data-toggle="tab" tabindex="-1">JSON</a></li>
          </ul>
          <div class="tab-pane" id="json">
              <div ui-ace="jsonEditor" ng-model="dataJSON"> </div>
          </div>
      </div>
      <div class="col-xs-6">
          <ul class="nav nav-tabs">
              <li><a href="#yaml" data-toggle="tab">YAML</a></li>
              <li><a href="#qs" data-toggle="tab">QueryString</a></li>
              <li class="active"><a href="#xml" data-toggle="tab">XML</a></li>
          </ul>
          <div class="tab-content">
              <div class="tab-pane active" id="xml">  <div ui-ace="xmlEditor" ng-model="dataXML"> </div> </div>
              <div class="tab-pane"        id="qs">   <div ui-ace="qsEditor" ng-model="dataQS"> </div> </div>
              <div class="tab-pane"        id="yaml"> <div ui-ace="yamlEditor" ng-model="dataYAML"> </div> </div>
          </div>
      </div>
  </div>

  <script type="text/javascript" src="../js/jquery.js" charset="utf-8"></script>
  <script type="text/javascript" src="../js/bootstrap.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="../js/angularjs/angular.js" charset="utf-8"></script>
  <script type="text/javascript" src="../js/ace_editor/ace-builds/src-min-noconflict/ace.js" charset="utf-8"></script>
  <script type="text/javascript" src="../js/ace_editor/angular-ui-ace/ui-ace.js" charset="utf-8"></script>
  <script type="text/javascript" src="../js/app.js" charset="utf-8"></script>
  </body>

</html>